body {
    font-family: 'Roboto Condensed', sans-serif; /* Основний шрифт */
background-color: #ff5722}

h1 {
    font-family: 'Oswald', sans-serif; /* Заголовок */
}

p {
    font-family: 'Bebas Neue', sans-serif; /* Текст абзацу */
}

h1, h2 {
    color: #333;
}

iframe, video, audio {
    margin-bottom: 20px;
}
